@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217 33% 8%;
    --card: 0 0% 98%;
    --card-foreground: 217 33% 8%;
    --popover: 0 0% 98%;
    --popover-foreground: 217 33% 8%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 38 40% 58%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 96%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 38 40% 58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 90%;
    --input: 217 33% 90%;
    --ring: 224 76% 48%;
    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: 217 33% 8%;
    --foreground: 210 40% 98%;
    --card: 217 33% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 217 33% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 38 40% 52%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 38 40% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 224 76% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
